* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

html, body {
  color: white;
  background-color: #3e3e3e;
  font-family: Lato, sans-serif;
  margin-top: 10px;
  user-select: none;
}

.todo-app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}