* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

html, body {
  color: white;
  background-color: #3e3e3e;
  font-family: Lato, sans-serif;
  margin-top: 10px;
  user-select: none;
}

h1 {
  color: black;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}

.todo-app {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.task-list-main {
  width: 600px;
  min-height: 500px;
  background-color: gray;
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
}